<div class="row-fluid">
  <div class="span12">
    <h3 id="flowercare">How to Care for Your Flowers and Miscellaneous</h3>
    </p>
       Keep the flowers hydrated by placing bouquet in a vase with fresh, lukewarm water.  Do not overly handle the flowers as the petals easily bruise. Keep flowers in a cool place, away from the sun. A kitchen counter is fine. Do not place in your refrigerator as the flowers may freeze or be crowded and it is not worth the risk.  
   </p>
    <p>
       DO NOT freeze, hang upside down, spray with hairspray or anything else.
    </p>
     <p>
	   Every moment matters when it comes to getting your bouquet to B's Garden Treasures. Have your delivery plan in place BEFORE the event. Overly wilted flowers may not be able to be preserved. Next day delivery is optimal or, at the latest, the morning of the second day.
    </p>
    <p>
      Please contact B’s Garden Treasures at info@BGTreasures.com as soon as possible to make sure I am available to preserve your flowers. If I am not available, I may be able to refer you to another pressed flower artist. 
    </p>
    <p>
      If shipping your flowers, contact B's Garden Treasures for instructions.  Shipping and packaging of the completed bouquet will be done at cost plus a $50 handling fee.  
   </p>
    <p>
      B’s Garden Treasures reserves the right to refuse flowers which are of poor quality upon arrival.  
    </p>
  </div>
</div>
