<div class="row-fluid">
  <div class="span12">
    <h3 id="flowercare">How to Care for Your Flowers and Miscellaneous</h3>
    </p>
      Keep the flowers as fresh as possible, until you can get them to B’s Garden Treasures.  Put them in a cool place, with their stems in water. Do not put water on the flower petals.  You can place the flowers in the refrigerator but DO NOT FREEZE!  For best results, get them to B’s Garden Treasures within 1-3 days. Please contact B’s Garden Treasures at info@BGTreasures.com as soon as possible to make sure I am available to preserve your flowers. If I am not available, I may be able to refer you to another pressed flower artist. 
    </p>
    <p>
      If shipping your flowers, contact B's Garden Treasures for instructions.  Shipping and packaging will be done at cost plus a $50 handling fee.  B’s Garden Treasures reserves the right to refuse flowers which are of poor quality.  
    </p>
  </div>
</div>
