{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Gallery/Bridal{% endblock %}
{% block quote %}
  "If I had a single flower for every time I think about you, I could walk forever in my garden."  – Claudia Ghandi
{% endblock %}
{% block scripts %}
  $(function(){
    $("li#gallery").addClass("active");
  });
{% endblock %}
{% block content %}
<div id="content" class="container">
  <div class="row-fluid">
    <div id="title" class="span12">
      <h2>Bridal Flowers</h2>
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <p>
      B’s Garden Treasures will preserve your floral memories. Your flowers will be carefully taken apart, pressed flat – using modern pressing techniques to remove the moisture –  preserved, color enhanced (as needed) and reconstructed.  They will be creatively arranged, sealed and professionally framed into art which can be displayed in your home and cherished for years to come. We can incorporate a photograph, invitation, vows, lace or other mementos into the design, if desired. 
      </p>
      <p>
      While we have used "hard" matboard backgrounds in the past, we recommend a soft acid-free decorative paper background such as mulberry paper.  With a soft background, you have the option of vacuum sealing your floral design for maximum protection.  With this option, your completed design is sealed between a layer of air and waterproof material and acrylic with special glue.  A pump is used to remove all of the air.  This requires extra space around the design for the glue, a mat and a frame with extra rabbit depth.  B's Garden Treasures always uses a layer of 99% UV conservation glass or acrylic to protect your artwork no matter which sealing method you choose.  If you want a top mat, choose the vacuum sealing option.  
      </p>      
      <p>
      You will be involved in all design decisions and will have the opportunity to review and approve the design concept before it is finalized.  A non-refundable $100 pressing fee is required upon receipt of your flowers and will be deducted from the price. The remainder plus applicable sales tax is due prior to shipping or receipt.  
      </p>     
      <p>
      Did you find out about floral preservation too late?  B's Garden Treasures can also work with you and a local florist to create a design from replacement flowers matching what you carried during your wedding.  Contact us for questions about how this will work.
      </p>     
      <p>
      Most orders will be finished and ready for your enjoyment within 6-12 weeks.  You will be contacted if additional time is required. 
    </p> 
    <p>
      <a href="#flowercare">How to care for flowers</a>
    </p>

  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3>Bridal Bouquet</h3>
      <p>
       Your bridal flowers will be preserved and framed as noted above.  The groom's boutonniere, select flowers from the ceremony or reception and momentos may be included in the design. 
      </p>
    </div>
  </div>

 <div class="row-fluid">
    <ul class="thumbnails">

      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/2019-Bridal-01-w1.png" alt="2019-bouquet-01"/>
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/2019-Bridal-02-w1.png" alt="2019-bouquet-02"/>
        </a>
      </li>

     <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/2019-Bridal-03-w1.png" alt="2019-bouquet-03"/>
        </a>
    </li>
  </ul>
 </div>
  <div class="row-fluid">
    <ul class="thumbnails">

      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/111-heidi-web.png" alt="111-bouquet"/>
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/153-malcuria-w1.png" alt="153-bouquet"/>
        </a>
      </li>

     <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/166-Teichner-Bouquet-fr-sm1.png" alt="166-bouquet"/>
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/184-Lindsay-Bouquet-fr-sm1.png" alt="184-bouquet"/>
        </a>
      </li>
    <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/215-Melissa-Bridal-w1.png" alt="215-bouquet"/>
        </a>
      </li>

 <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/282-DeMaria-Bridal-sm1.png" alt="282-bouquet" />
        </a>
      </li>
 </ul>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h3>Bridal Bouquet Pricing</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Size</th>
            <th>Standard Sealing</th>
            <th>Vacuum Sealing</th>
          </tr>
        </thead>
        <tbody>

        <tr>
          <td>11x14" Frame</td>
          <td>$325 plus shipping, if required</td>
          <td>Add $50 (approx. 8"x11" for design)</td>
        </tr>
          
        <tr>
          <td>14x18" Frame</td>
          <td>$375 plus shipping, if required</td>
          <td>Add $75 (approx. 11"x15" for design) </td>
        </tr>
        
        <tr>
          <td>16x20" Frame</td>
          <td>$425 plus shipping, if required</td>
          <td>Add $100 (approx. 13"x17" for design)</td>
        </tr>

        <tr>
          <td>Mementos </td>
          <td>Add $25 for each item</td>
          <td></td>
        </tr>
       
        </tbody>
      </table>
    </div>
  </div>
  <div class="row-fluid">
    <h3>Select Bridal Flowers</h3>
    <div class="span12">
      <p>
      Select flowers from the wedding are pressed and preserved and then attractively adorned around the bridal invitation or a photo.  B's Garden Treasures can also adorn a bridal invitation with a selection of purchased flowers which mirror the flowers of the bouquet in advance of the wedding with sufficient lead time for a wedding gift.  Additional costs apply.  
      <p>  
      </p>
    </div>
  </div>
  <div class="row-fluid">
  <ul class="thumbnails">
    <li class="span4">
      <a href="javascript://" class="thumbnail">
        <img src="{{ STATIC_URL }}img/gallery/bridal/133-invitation-w2.png" alt="133-invitation" />
      </a>
    </li>
    
    <li class="span4">
      <a href="javascript://" class="thumbnail">
        <img src="{{ STATIC_URL }}img/gallery/bridal/108-warrick-w1.png" alt="108-" />
      </a>
    </li>
<!--
 <div class="row-fluid">
    <ul class="thumbnails">
-->
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/167-Teichner-MOG-fr-sm2.png" alt="167-Teichner" />
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/173-Rausch-Invitation-fr-sm1.png" alt="173-Rausch" />
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/188-MOB-Hillary-fr-sm1.png" alt="188-Hillary" />
        </a>
      </li>
  </ul>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h3>Select Bridal Flower Pricing</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Size</th>
            <th>Standard Sealing</th>
             <th>Vacuum Sealing</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>8x10" Frame</td>
          <td>$175 plus shipping, if required</td>
           <td>Not available</td>
        </tr>
        <tr>
          <td>11x14" Frame</td>
          <td>$250 plus shipping, if required</td>
          <td>Add $50 (approx. 8"x11" for design)</td>
        </tr>

        <tr>
        
          <tr>
          <td colspan="3">
        </td>
        </tr>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

{% include '_how-to-care-for-flowers.html' %}
</div>
{% endblock %}
