{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Gallery/Bridal{% endblock %}
{% block quote %}
  "If I had a single flower for every time I think about you, I could walk forever in my garden."  – Claudia Ghandi
{% endblock %}
{% block scripts %}
  $(function(){
    $("li#gallery").addClass("active");
  });
{% endblock %}
{% block content %}
<div id="content" class="container">
  <div class="row-fluid">
    <div id="title" class="span12">
      <h2>Bridal Flowers</h2>
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <p>
      B’s Garden Treasures will preserve your floral memories. Flowers may be from a combination of the bridal bouquet, corsages, boutonnieres and/or flowers from the reception. The flowers will be carefully taken apart, pressed flat – using modern pressing techniques to remove the moisture –  preserved and creatively reconstructed and arranged into framed art which can be displayed in your home and cherished for years to come.
      </p>
      <p>
      They can be arranged like the original bouquet or creatively placed around a photograph, invitation, vows or other memento.  You will be involved in all design decisions and will have the opportunity to review and approve the design concept before it is finalized.
      </p>
      <p>
      Your special flowers will be vacuum sealed and professionally framed.  Acid-free products and UV-protective glass are used to ensure the lasting quality of your heirloom.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3>Full Bridal Bouquet</h3>
      <p>
      Your entire bouquet will be pressed and preserved.  The groom’s boutonniere and select flowers from the ceremony and/or reception may be included in the design, if desired.  Final design may include mementos such as your vows, photo, bridal invitation, etc.  Unused flowers will be returned to the bride.  Choice of frames and matting. 
      </p>
    </div>
  </div>


  <div class="row-fluid">
    <ul class="thumbnails">
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/106-joanna-w3.png" alt="106-bouquet" />
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/111-heidi-web.png" alt="111-bouquet"/>
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/153-malcuria-w1.png" alt="153-bouquet"/>
        </a>
      </li>

     <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/166-Teichner-Bouquet-fr-sm1.png" alt="166-bouquet"/>
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/184-Lindsay-Bouquet-fr-sm1.png" alt="184-bouquet"/>
        </a>
      </li>
    </ul>
  </div>


  <div class="row-fluid">
    <div class="span12">
      <h3>Full Bouquet Pricing</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Size</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>8x10" Frame</td>
          <td>$150 plus shipping, if required</td>
        </tr>
        <tr>
          <td>11x14" Frame</td>
          <td>$170 plus shipping, if required</td>
        </tr>
        <tr>
          <td>16x20" Frame</td>
          <td>$250 plus shipping, if required</td>
        </tr>
        <tr>
          <td colspan="2">
            Oval or square frames may be quoted upon request.
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row-fluid">
    <h3>Select Bridal Flowers</h3>
    <div class="span12">
      <p>
      Select flowers from the wedding are pressed and preserved and then attractively designed as a simplistic bouquet or adorned around the bridal invitation or a photo  Choice of frames and matting.
      </p>
    </div>
  </div>
  <div class="row-fluid">
  <ul class="thumbnails">
    <li class="span4">
      <a href="javascript://" class="thumbnail">
        <img src="{{ STATIC_URL }}img/gallery/bridal/133-invitation-w2.png" alt="133-invitation" />
      </a>
    </li>
    <li class="span4">
      <a href="javascript://" class="thumbnail">
        <img src="{{ STATIC_URL }}img/gallery/bridal/160-Simple Bridal framed-w1.png" alt="160-simple-bouquet" />
      </a>
    </li>
    <li class="span4">
      <a href="javascript://" class="thumbnail">
        <img src="{{ STATIC_URL }}img/gallery/bridal/108-warrick-w1.png" alt="108-" />
      </a>
    </li>
  </ul>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3>Select Flower Pricing</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Size</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>8x10" Frame</td>
          <td>$125 plus shipping, if required</td>
        </tr>
        <tr>
          <td>11x14" Frame</td>
          <td>$150 plus shipping, if required</td>
        </tr>
        <tr>
          <td colspan="2">
            Oval or square frames may be quoted upon request.
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h3>Mother of the Bride/Groom Keepsake</h3>
      <p>
      Additional framed art from the corsage, boutonniere and/or flowers from the bride’s bouquet may also be preserved for the Mother of the Bride and/or the Mother of the Groom.  Choice of frames and matting.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <ul class="thumbnails">

      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/167-Teichner-MOG-fr-sm2.png" alt="167-Teichner" />
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/173-Rausch-Invitation-fr-sm1.png" alt="173-Rausch" />
        </a>
      </li>

      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/188-MOB-Hillary-fr-sm1.png" alt="188-Hillary" />
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/109-warrick-mother-w1.png" alt="109-warrick" />
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/110-corsage.png" alt="110-corsage" />
        </a>
      </li>
      <li class="span4">
        <a href="javascript://" class="thumbnail">
          <img src="{{ STATIC_URL }}img/gallery/bridal/104-elegant-roses-w2.png" alt="104-roses" />
        </a>
      </li>
    </ul>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3>Pricing</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Size</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>8x10" Frame</td>
          <td>$100 – with the purchase of a framed bouquet or invitation</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3>Bridal Bouquet Recreation</h3>
      <p>
      B’s Garden treasures can also recreate your wedding flowers 
      (when the original flowers are not available). If you provide 
      a list of the flowers and/or a photo of the bride’s bouquet, 
      I can create a customized keepsake which would make a unique 
      wedding or anniversary gift.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3>Pricing</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Size</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>8x10" Frame</td>
          <td>$125 plus the cost of the flowers</td>
        </tr>
        <tr>
          <td>11x14" Frame</td>
          <td>$150 plus the cost of the flowers</td>
        </tr>
        <tr>
          <td colspan="2">
            Oval or square frames may be quoted upon request.
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% include '_how-to-care-for-flowers.html' %}
</div>
{% endblock %}
