{% extends "_master.html" %}

{% block title %}B's Garden Treasures - About{% endblock %}
{% block quote %}"As the garden grows, so does the gardener..."{% endblock %}
{% block scripts %}
$(function(){
$("li#about").addClass("active");
});
{% endblock %}
{% block content %}
<div id="content" class="container">
  <div class="row-fluid">
    <div id="title" class="span12">
      <h2>About</h2>
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <p>
      Welcome! My name is Betty and I am the "B" behind "B's Garden Treasures." I live with my 
      husband, Ron, in Geneva, NY which is in the heart of the Finger Lakes. I recently retired 
      from my role as a Quality Manager for an international company, where I worked for over 20 
      years. Now I can spend more time doing what I love – working with flowers.  
      <br>
      <br>
      <img style="float: left; margin-right: 20px;" src="{{ STATIC_URL }}img/gallery/home/betty-green-artist.jpg" alt="Betty Green - Artist" />
      I've been an avid gardener most of my life and shared this love with my mother and now my 
      daughter. I first learned about the art of pressing flowers in 2007 when I was the recipient 
      of an original pressed flower picture.  I contacted the artist and had many, many questions 
      about the process. My first press was a telephone book covered with weights. It was so hard 
      to resist the urge to “peek” before the several-week process of removing the moisture. By the 
      time the flowers and leaves were dry, the original blossoms in my garden were long gone so I 
      did not have the opportunity to correct my mistakes until the following season.
      <br><br>
      I discovered the Worldwide Pressed Flower Guild in 2009 when searching for classes on pressing 
      techniques and quickly joined. This great non-profit organization promotes public education to 
      unite pressed flower artists from around the world. I enjoy attending conferences, taking 
      on-line classes and the fellowship offered through the on-line discussion groups where artists 
      can ask for tips on anything related the flowers and pressed flower art.  I now serve as the 
      Guild’s Public Relations Director. As a result of this wonderful organization of kindred 
      spirits, my art has grown and I am continually challenged to try new methods, mediums and 
      techniques. I especially enjoy creating complex landscapes using blue delphinium, onion 
      membranes and/or pieces of leaves for the water; hydrangea, lily, rose petals and/or corn husks 
      for the sky and pieces of leaves, banana peel and other botanicals for trees.
      <br><br>
      My current pressing method of choice is to sandwich my botanicals between highly absorbent 
      desiccant paper layered with Viva paper towels and covered with patio bricks.   This technique 
      allows me to use my botanicals within 3-5 days. I also use a microwave press, a pegboard press 
      and a food dehydrator to prepare my flowers, leaves and other botanicals for my art.  These more 
      modern pressing techniques result in more vivid colors and a much higher quality of pressed 
      materials. I love sharing my art with others and enjoy teaching classes and workshops. 
      I especially enjoy speaking at local garden clubs. 
      <br><br>
      I hope you enjoy your visit to my site. And, if you have a chance, visit B's Garden Treasures 
      at an upcoming show.  See my show schedule under the <a href="{% url 'shows' %}">Shows</a> link. 
      Please <a href="{% url 'contact' %}">contact me</a> if you have any questions or comments.
      </p>
    </div>
  </div>
</div>
{% endblock %}
