{% extends "_master.html" %}

{% block title %}B's Garden Treasures - About{% endblock %}
{% block quote %}"As the garden grows, so does the gardener..."{% endblock %}
{% block scripts %}
$(function(){
$("li#about").addClass("active");
});
{% endblock %}
{% block content %}
<div id="content" class="container">
  <div class="row-fluid">
    <div id="title" class="span12">
      <h2>About</h2>
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <p>
      Welcome! My name is Betty and I am the "B" behind "B's Garden Treasures." I live with my 
      husband, Ron, in Geneva, NY which is in the heart of the Finger Lakes. Having retired from corporate America, I have the luxury of doing what I love – creating art and crafts with flowers, leaves and other botanicals which are mostly grown in my vast gardens.  
      <br>
      <br>
      <img style="float: left; margin-right: 20px;" src="{{ STATIC_URL }}img/gallery/home/betty-green-artist.jpg" alt="Betty Green - Artist" />
      I first learned about the art of pressing flowers in 2007 when I was the recipient 
      of an original pressed flower framed picture.  I contacted the artist and had many, many questions about the process.  My first press was a telephone book covered with weights. It took weeks to remove the moisture and frequently the botanicals were faded.  My current pressing method of choice is to sandwich my botanicals between highly absorbent desiccant boards which are covered with patio bricks.  This technique allows me to use most of my botanicals within 3-5 days. I also use microwave presses, pegboard presses and even a food dehydrator to dry my flowers, leaves and other botanicals for my art.  These more modern pressing techniques result in more vivid colors and a much higher quality of pressed materials.  
       <br><br>       
      I discovered the Worldwide Pressed Flower Guild in 2009 when searching for classes on pressing techniques and quickly joined. This great non-profit organization promotes public education to unite pressed flower artists from around the world. I enjoy attending conferences, taking on-line classes and the fellowship offered through the on-line discussion groups where artists can ask for tips on anything related to flowers and pressed flower art.  I currently serve as the Guild’s Member Relations Director. As a result of this wonderful organization of kindred spirits, my art has grown and I am continually challenged to try new methods, mediums and techniques. 
      <br><br>
      I love sharing my art with others and enjoy teaching classes and workshops.  
      <br><br>
      I hope you enjoy your visit to my site. And, if you have a chance, visit B's Garden Treasures at an upcoming show.  See my show schedule under the <a href="{% url 'shows' %}">Shows</a> link. 
      Please <a href="{% url 'contact' %}">contact me</a> if you have any questions, comments or special requests.
      </p>
    </div>
  </div>
</div>
{% endblock %}
