{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Contact{% endblock %}
{% block quote %} "A garden is the best alternative therapy..."  Germaine Greer {% endblock %}
{% block scripts %}
  $(function(){
    $("li#contact").addClass("active");
  });
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row-fluid">
      <div id="title" class="span12">
        <h2>Contact</h2>
        <hr>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6">
        <form action="/contact/" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Send" />
        </form>
      </div>
      <div class="span6">
        <h4>Artist Betty Green</h4>
        <p>
          <address>
            B’s Garden Treasures<br>
            1917 Route 14 North<br>
            Geneva, NY 14456
          </address>
          315-789-2911<br>
          <a href="mailto:info@BGTreasures.com">info@BGTreasures.com</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
