{% extends "_master.html" %}

{% block title %}B's Garden Treasures - About{% endblock %}

{% block content %}
  <div class="container">
    <!-- Example row of columns -->
    <div class="row-fluid">
      <div class="span12">
        <p>
        </P>
        <p>
          "A garden is the best alternative therapy . . ."  Germaine Greer

        </p>
        <p>Contact Information for Artist Betty Green
          <address>
            B’s Garden Treasures<br>
            1917 Route 14 North<br>
            Geneva, NY 14456<br>
            Phone:  315-789-2911<br>
            E-mail:  info@BGTreasures.com<br></p>
                 
      </address>
      </p>




        <h2>Contact</h2>
        <form action="/contact/" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Send" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
