{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Gallery/Original{% endblock %}

{% block scripts %}
  $(function(){
    $("li#gallery").addClass("active");
  });
{% endblock %}
{% block content %}
<div class="container">
  <div class="row-fluid">
    <div id="title" class="span12">
      <h2>Gallery - Original</h2>
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <p>
        gallery original content
      </p>
    </div>
  </div>
</div>
{% endblock %}
