{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Home{% endblock %}

{% block content %}
  <div class="container">
    <div class="row-fluid">
      <div id="title" class="span12">
        <h2>Welcome</h2>
        <hr>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
         <p>
           Welcome to B’s Garden Treasures. To me, there is nothing more beautiful than a flower in bloom.  
           My art uses real flowers, leaves and other botanicals which are pressed to remove all moisture 
           so their beauty can be preserved for years to come. My original art ranges from simple bookmarks, 
           cards and jewelry to more complex floral landscapes and bridal bouquets. Currently, three local 
           florists in the Finger Lakes area are referring customers to B's Garden Treasures to preserve their 
           wedding, memorial and other special flowers.
         </p>
         <p>
           I also offer “frame-ready” digital copies of my work along with coasters and trivets. While this 
           website is primarily designed to showcase my work which is sold at fine arts and crafts shows, I 
           can also accept orders electronically. Just send me a message.
         </p>
         <p>
           Most of the flowers used in my art come from my own beautiful gardens. 
         </p>
      </div>
    </div>
     <div class="row-fluid">
        <div class="span4">
          <img src="{{ STATIC_URL }}img/gallery/home/need pix" alt="need pix" class="span12" />
        </div>
        <div class="span4">
          <img src="{{ STATIC_URL }}img/gallery/home/need pix" alt="need pix" class="span12"/>
        </div>
        <div class="span4">
          <img src="{{ STATIC_URL }}img/gallery/home/153-malcuria-w1.jpg" alt="153-Malcuria" class="span12"/>
        </div>
  </div>
</div>
{% endblock %}
