{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Links{% endblock %}

{% block scripts %}
  $(function(){
    $("li#links").addClass("active");
  });
{% endblock %}
{% block content %}
<div id="content" class="container">
  <div class="row-fluid">
    <div id="title" class="span12">
      <h2>Links</h2>
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <p>
      Links content - need to add links to key suppliers for desiccant paper, drytac, glues, etc.

      Later may add links to videos
      </p>
    </div>
  </div>
</div>
{% endblock %}
