{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Supplies{% endblock %}

{% block scripts %}
  $(function(){
    $("li#supplies").addClass("active");
  });
{% endblock %}
{% block content %}
<div class="container">
  <div class="row-fluid">
    <div id="title" class="span12">
      <h2>Supplies</h2>
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <p>
      Supplies content here -- need to add pegboard presses
      </p>
    </div>
  </div>
</div>
{% endblock %}
