{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Supplies{% endblock %}

{% block scripts %}
  $(function(){
    $("li#supplies").addClass("active");
  });
{% endblock %}
{% block content %}
<div id="content" class="container">
  <div class="row-fluid">
    <div id="title" class="span12">
      <h2>Supplies</h2>
      <hr>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <p>
      This page is still under construction. It is a holding place for a potential store front. 
      </p>
    </div>
  </div>
</div>
{% endblock %}
