{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Contact{% endblock %}
{% block quote %} "There are no gardening mistakes, only experiments . . ."  Janet Kilburn Phillips {% endblock %}
{% block scripts %}
  $(function(){
    $("li#contact").addClass("active");
  });
{% endblock %}
{% block content %}
  <div id="content" class="container">
    <div class="row-fluid">
      <div id="title" class="span12">
        <h2>Contact Success</h2>
        <hr>
        <p>
        Contact was sent successfuly
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
