{% extends "_master.html" %}

{% block title %}B's Garden Treasures - Contact{% endblock %}
{% block quote %} "There are no gardening mistakes, only experiments . . ."  Janet Kilburn Phillips {% endblock %}
{% block scripts %}
  $(function(){
    $("li#contact").addClass("active");
  });
{% endblock %}
{% block content %}
  <div id="content" class="container">
    <div class="row-fluid">
      <div id="title" class="span12">
        <h2>Contact</h2>
        <hr>
        {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
        {% endif %}
        {% if send_status != None %}
        <p style="color: red;">
          {{ send_status|safe }}
        </p>
        {% endif %}
      </div>
    </div>
    <div class="span8">
        Send an email to <a href="mailto:{{ email }}">{{ email }}</a>
    </div>
    <!-- <form class="well span8" method="get" target="_top" action="mailto:{{ email }}" enctype="text/plain" style="margin-left: 0;">
      {% csrf_token %}
      <div class="row">
        <div class="span3">
          {{ form.name.label }}
          <div class="control-group {%if form.name.errors %}error{%endif%}">
            {{ form.name }}
          </div>
          {{ form.email.label }}
          <div class="control-group {%if form.email.errors %}error{%endif%}">
            {{ form.email }}
          </div>
        </div>
        <div class="span5">
          {{ form.body.label }}
          <div class="control-group {%if form.body.errors %}error{%endif%}">
          {{ form.body }}
          </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Send</button>
      </div>
    </form> -->
    <div class="span3">
      <h4>Artist Betty Green</h4>
      <p>
        <address>
          B’s Garden Treasures<br>
          1917 Route 14 North<br>
          Geneva, NY 14456
        </address>
        315-789-2911<br>
        <a href="mailto:{{ email }}">{{ email }}</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
