body {}

#header {
  background: #cfe7d1 url('../img/bg_head.jpg') repeat fixed top center;
  background-attachment: scroll;
}

.container {left:auto;right:auto}

.bg-quote{
  font-style: italics;
}

@media (max-width: 767px) {
  .container { left: auto; right: auto }
  container{
    padding-left: 20px;
    padding-right: 20px;
  }
  body{
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .container { left: auto; right: auto }
  container{
    padding-left: 20px;
    padding-right: 20px;
  }
  body{
    padding-left: 0;
    padding-right: 0;
  }
}
