body {}
#wwpfg{
  margin: 10px 0;
}
#header {
  /* background: #cfe7d1 url('../img/bg_head.jpg') repeat fixed top center; */
  background-color: #EBF3E0;
  background-attachment: scroll;
}

.container {left:auto;right:auto}

@import url(http://fonts.googleapis.com/css?family=Lovers+Quarrel);
.bg-quote{
  font-size: 16px;
  color: #444;
  font-family: 'IM Fell Double Pica', serif;
  font-family: 'Lovers Quarrel', cursive;
}

.navbar {
  /* background: url('../img/menubar.gif'); */
  background-color: #3b4145;
  color: #56B91D;
  border-top: solid #333 1px;
  border-bottom: solid #333 1px;
}
.navbar .nav>li{}

/*
.navbar .nav li.dropdown.active>.dropdown-toggle, 
.navbar .nav li.dropdown.open.active>.dropdown-toggle
{
  background-color: #e5e5e5;
}
*/

.navbar .nav li.dropdown.open>.dropdown-toggle
{
  color: #FFF;
  background-color:  #4e8908;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}

.navbar .nav li.dropdown.active>.dropdown-toggle, 
.navbar .nav li.dropdown.open.active>.dropdown-toggle,
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #4e8908;
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}

.navbar .nav>li.active>a{
}
.navbar .nav>li>a:hover {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.navbar .nav>li>a {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}

.dropdown-menu>li>a:hover{
  background-color: #f6f6f6;

}

#bg-carousel .inner-item { text-align: center;}
#bg-carousel .inner-item img{ margin: 0 auto;}

@media (max-width: 767px) {
  #header{
    margin-right: -20px;
    margin-left: -20px;
  }
}
@media (max-width: 480px) {
  #header{
    margin-right: -20px;
    margin-left: -20px;
  }
}


/* sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -80px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 80px;
}
#footer {
border-top: solid #4e8908 4px;
  color: #fff;
  background-color: #3b4145;
  text-align: center;
font-size: 10px;
}

#content{
min-height: 500px;
}



/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* end sticky footer */

.row-fluid ul.thumbnails li.span12 + li { margin-left : 0px;clear:left }
.row-fluid ul.thumbnails li.span6:nth-child(2n + 3) { margin-left : 0px;clear:left }
.row-fluid ul.thumbnails li.span4:nth-child(3n + 4) { margin-left : 0px;clear:left }
.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) { margin-left : 0px; clear:left}
.row-fluid ul.thumbnails li.span2:nth-child(6n + 7) { margin-left : 0px;clear:left }
.row-fluid ul.thumbnails li.span1:nth-child(12n + 13) { margin-left : 0px;clear:left }


